table{
    border: 1px solid #6e2142;
    width: 90%;
    padding: 30px;
    margin-top: 50px;
    /* background: #fff6e9; */
    /* par defaut la bordure comtien deux trait, pour que le trait sois unique, on utilise la propriété, : border-collapse avec une valeur : collapse */
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
}

