section {
  border: 2px ridge yellow;
  border-radius: 20px;
}
article {
  border: thick double purple;
  border-radius: 20px;
  margin: 1rem;
}
/* Je selectionne 2 éléments en même temps en les séparant par une virgule "," */
p, pre {
  color: darkblue;
}
pre code {
  color: white;  
}
span {
  font-weight: bold;
  color: limegreen;
}

/* 
  Les valeurs possibles pour les couleurs:
    ->Notation hexadecimale : #ffffff (blanc)
    ->notation hexadecimale courte : #fff
    ->notation rgb(255, 255, 255) -> rouge vert bleu
    ->notation rgba(255,255,255,0) -> le dernier chiffre correspond à l'opacité : entre 0 (transparent) et 1 (opaque)
    -notation avec mots clés -> red, green, bleu ... 
*/